.carrito{
    color:white;
}

.numeroCarritoNav{
    text-decoration: none;
}

.numeroCarrito{
    font-size: 0.80rem;
    background-color:darkred;
    border-radius: 1rem;
    position: absolute;
    top: 1rem;
    right: 8.5rem;
    color: white;
}

.link1{
    text-decoration: none;
    position: absolute;
    left: 20rem;
    top: 1rem;
    color: white;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem;
}

.card{
    margin: 2rem;
    height: 20rem;
}

.link{
    text-decoration: none;
}
